---
- name: Playbook for testing the fencing
  hosts: all
  tasks:
    - name: Acquiring Replication sync state
      shell: "crm_mon -A1 | grep 'Node Attributes' -A24 | grep hana_{{ sap_hana_sid | lower }}_sync_state"
      register: sap_hana_sync_state_t2

    - name: Verifying SOK state before performing test
      debug:
        msg: "SAP HANA Replication sync state is {{ sap_hana_sync_state_t2.stdout }}"
      failed_when: "'SOK' not in sap_hana_sync_state_t2.stdout"

    - name: PERFORMING FENCE action of MASTER node from the slave node
      shell: "pcs stonith fence {{ sap_hana_master_node }}"
      run_once: true
      delegate_to: "{{ sap_hana_slave_node }}"
      register: sap_hana_master_node_fenced

    - name: VERIFYING FENCE command successful
      debug:
        msg: "Success message \"{{ sap_hana_master_node_fenced.stdout }}\" observed"
      failed_when: "'Node:' and 'fenced' not in sap_hana_master_node_fenced.stdout"
      delegate_to: "{{ sap_hana_slave_node }}"

    - name: Waiting for commencement of the failover process
      shell: "pcs resource status | grep {{ sap_hana_resource_name }} -A1 | tail -n1"
      register: sap_hana_promote_operation
      delegate_to: "{{ sap_hana_slave_node }}"
      run_once: true
      until: "'Promoting' not in sap_hana_promote_operation.stdout"
      retries: 20
      delay: 5
      ignore_errors: true

    - name: Waiting for failover process to be completed
      shell: "pcs resource status | grep {{ sap_hana_resource_name }} -A1 | tail -n1"
      register: sap_hana_promoted
      delegate_to: "{{ sap_hana_slave_node }}"
      run_once: true
      until: "'Masters:' in sap_hana_promoted.stdout"
      retries: 50
      delay: 10

    - name: VERIFYING the failover process is completed
      debug:
        msg: "Secondary instance is now promoted to master"
      failed_when: "'Masters:' not in sap_hana_promoted.stdout"
      delegate_to: "{{ sap_hana_slave_node }}"

    - name: Wait 900 seconds, but only start checking after 10 seconds
      ansible.builtin.wait_for_connection:
        delay: 10
        timeout: 900
