---
- name: Configuring nodes for network tests
  hosts: all
  tasks:
    - name: Installing firewalld package
      yum:
        name: firewalld
        state: latest

    - name: Allowing High Availability service through firewall
      firewalld:
        service: high-availability
        state: enabled
        permanent: true

    - name: Acquiring SAP HANA System Replication master ports
      shell: netstat -tulpn | egrep -e "hdb|saps|saph" | awk '{print $4}' | cut -d ":" -f2
      register: sr_master_ports
      run_once: true
      delegate_to: "{{ sap_hana_master_node }}"

    - name: Opening Acquired ports of master on both nodes
      firewalld:
        port: "{{ item }}/tcp"
        permanent: yes
        state: enabled
      loop: "{{ sr_master_ports.stdout_lines}}"   

    - name: Acquiring SAP HANA System Replication slave ports
      shell: netstat -tulpn | egrep -e "hdb|saps|saph" | awk '{print $4}' | cut -d ":" -f2
      register: sr_slave_ports
      run_once: true
      delegate_to: "{{ sap_hana_slave_node }}"
    
    - name: Opening Acquired ports of slave node on both nodes
      firewalld:
        port: "{{ item }}/tcp"
        permanent: yes
        state: enabled
      loop: "{{ sr_slave_ports.stdout_lines}}"

    - name: Allowing custom system Replication Ports through firewall
      firewalld:
        port: "4{{ sap_hana_instance_number }}00/tcp"
        permanent: true
        state: enabled

    - name: Stopping the cluster
      pacemaker_cluster:
        state: offline
        timeout: 900
      ignore_errors: true
      when: "'inactive' in firewalld_state"

    - name: Enabling and starting firewalld
      service:
        name: firewalld
        enabled: true
        state: started
      when: "'inactive' in firewalld_state"

    - name: Starting the cluster for testing firewall accuracy
      pacemaker_cluster:
        state: online
        timeout: 900
      ignore_errors: true
      when: "'inactive' in firewalld_state"

    - name: Waiting for cluster to start SAP HANA resource on each node separately.
      shell: pcs resource status | grep {{ sap_hana_resource_name }} -A2 | egrep -e 'Masters:|Slaves:' | awk '{print $0}'
      register: sap_hana_resource_state
      until: "'Masters:' and 'Slaves:' in sap_hana_resource_state.stdout"
      retries: 120
      delay: 10

    - name: Waiting for SOK Replication sync state
      shell: "crm_mon -A1 | grep 'Node Attributes' -A24 | grep hana_{{ sap_hana_sid | lower }}_sync_state"
      register: sap_hana_sync_state
      delegate_to: "{{ sap_hana_slave_node }}"
      run_once: true
      until: "'SOK' in sap_hana_sync_state.stdout"
      retries: 120
      delay: 2

    - name: Verifying SOK state
      debug:
        msg: "SAP HANA Replication sync state is {{ sap_hana_sync_state.stdout }}"
      failed_when: "'SOK' not in sap_hana_sync_state.stdout"
