---
- name: Playbook for testing node crash and failover
  hosts: all
  tasks:
    - name: Acquiring Replication sync state
      ansible.builtin.shell: "crm_mon -A1 | grep 'Node Attributes' -A24 | grep hana_{{ sap_hana_sid | lower }}_sync_state"
      register: sap_hana_sync_state_t5

    - name: Verifying SOK state before performing test
      debug:
        msg: "SAP HANA Replication sync state is {{ sap_hana_sync_state_t5.stdout }}"
      failed_when: "'SOK' not in sap_hana_sync_state_t5.stdout"

    - name: PERFORMING node crash on MASTER node
      ansible.builtin.shell: "ssh root@{{ sap_hana_master_node }} 'echo c > /proc/sysrq-trigger' &"
      delegate_to: localhost
      run_once: true
      ignore_errors: true

    - name: Verifying promotion process started on the other node
      ansible.builtin.shell: pcs resource status | grep "{{ sap_hana_resource_name }}" -A1
      register: sap_hana_resource_promotion_state
      delegate_to: "{{ sap_hana_slave_node }}"
      run_once: true
      until: "'Promoting' in sap_hana_resource_promotion_state.stdout"
      retries: 120
      delay: 2

    - name: WAITING for promotion to complete on the other node
      ansible.builtin.shell: pcs resource status | grep "{{ sap_hana_resource_name }}" -A1 | tail -n1 | xargs
      register: sap_hana_resource_recovery_state
      delegate_to: "{{ sap_hana_slave_node }}"
      run_once: true
      until: "'Masters:' in sap_hana_resource_recovery_state.stdout"
      retries: 120
      delay: 5

    - name: VERIFYING the promotion of the slave node
      debug:
        msg: "Current state of resource recovery is {{ sap_hana_resource_recovery_state.stdout }}"
      failed_when: "'Masters:' and sap_hana_slave_node not in sap_hana_resource_recovery_state.stdout"

    - name: Wait 900 seconds, but only start checking after 10 seconds
      ansible.builtin.wait_for_connection:
        delay: 10
        timeout: 900
