---
- name: Checking and verifying priority fencing to avoid fence race during network tests
  hosts: all
  tasks:
    - name: Setting up default priority fencing value to 1
      ansible.builtin.shell: "pcs resource defaults update priority=1"
      delegate_to: "{{ sap_hana_master_node }}"
      run_once: true

    - name: Setting up priority fencing delay of 10 Seconds
      ansible.builtin.shell: "pcs property set priority-fencing-delay=15s"
      delegate_to: "{{ sap_hana_master_node }}"
      run_once: true
