---
- name: Configuring nodes for network tests
  hosts: all
  tasks:
    - name: Installing firewalld package
      ansible.builtin.yum:
        name: firewalld
        state: present

    - name: Allowing High Availability service through firewall
      ansible.posix.firewalld:
        service: high-availability
        state: enabled
        permanent: true

    - name: Acquiring SAP HANA System Replication master ports
      ansible.builtin.shell: netstat -tulpn | egrep -e "hdb|saps|saph" | awk '{print $4}' | cut -d ":" -f2
      register: sr_master_ports
      run_once: true
      delegate_to: "{{ sap_hana_master_node }}"

    - name: Opening Acquired ports of master on both nodes
      ansible.posix.firewalld:
        port: "{{ item }}/tcp"
        permanent: true
        state: enabled
      loop: "{{ sr_master_ports.stdout_lines }}"

    - name: Acquiring SAP HANA System Replication slave ports
      ansible.builtin.shell: netstat -tulpn | egrep -e "hdb|saps|saph" | awk '{print $4}' | cut -d ":" -f2
      register: sr_slave_ports
      run_once: true
      delegate_to: "{{ sap_hana_slave_node }}"

    - name: Opening Acquired ports of slave node on both nodes
      ansible.posix.firewalld:
        port: "{{ item }}/tcp"
        permanent: true
        state: enabled
      loop: "{{ sr_slave_ports.stdout_lines }}"

    - name: Allowing custom system Replication Ports through firewall
      ansible.posix.firewalld:
        port: "4{{ sap_hana_instance_number }}00/tcp"
        permanent: true
        state: enabled

    - name: Stopping the cluster
      community.general.pacemaker_cluster:
        state: offline
        timeout: 900
      failed_when: false
      when: "'inactive' in firewalld_state"

    - name: Enabling and starting firewalld
      ansible.builtin.service:
        name: firewalld
        enabled: true
        state: started
      when: "'inactive' in firewalld_state"

    - name: Starting the cluster for testing firewall accuracy
      community.general.pacemaker_cluster:
        state: online
        timeout: 900
      failed_when: false
      when: "'inactive' in firewalld_state"

    - name: Firewalld - Waiting for cluster to start SAP HANA resource on each node separately.
      ansible.builtin.shell: pcs resource status | grep {{ sap_hana_resource_name }} -A2 | egrep -e 'Masters:|Slaves:' | awk '{print $0}'
      register: sap_hana_resource_state
      until: "'Masters:' and 'Slaves:' in sap_hana_resource_state.stdout"
      retries: 120
      delay: 10

    - name: Firewalld - Waiting for SOK Replication sync state
      ansible.builtin.shell: "crm_mon -A1 | grep 'Node Attributes' -A24 | grep hana_{{ sap_hana_sid | lower }}_sync_state"
      register: sap_hana_sync_state
      delegate_to: "{{ sap_hana_slave_node }}"
      run_once: true
      until: "'SOK' in sap_hana_sync_state.stdout"
      retries: 120
      delay: 2

    - name: Firewalld - Verifying SOK state
      ansible.builtin.debug:
        msg: "SAP HANA Replication sync state is {{ sap_hana_sync_state.stdout }}"
      failed_when: "'SOK' not in sap_hana_sync_state.stdout"
