---
- name: Configuring nodes for network tests
  hosts: all
  tasks:
    - name: Acquiring Firewalld state
      ansible.builtin.shell: "systemctl is-active firewalld"
      register: firewalld_state
      failed_when: false
      changed_when: false

    - name: Verifying Firewalld state
      debug:
        msg: "firewalld is {{ firewalld_state.stdout }}"

    - name: Setting Firewalld state as fact
      set_fact:
        firewalld_state: "{{ firewalld_state.stdout }}"

    - name: Stopping the cluster for firewalld setup
      pacemaker_cluster:
        state: offline
        timeout: 900
      when: "'inactive' in firewalld_state"
      ignore_errors: true

    - name: Installing firewalld package
      yum:
        name: firewalld
        state: latest

    - name: Enabling and starting firewalld
      service:
        name: firewalld
        enabled: true
        state: started

    - name: Allowing High Availability service through firewall
      firewalld:
        service: high-availability
        state: enabled
        permanent: true
        immediate: true

    - name: Starting the cluster for Acquiring HANA SR ports
      pacemaker_cluster:
        state: online
        timeout: 900
      ignore_errors: true

    - name: Waiting for cluster to start SAP HANA resource.
      ansible.builtin.shell: pcs resource status | grep {{ sap_hana_resource_name }} -A2 | egrep -e "Masters|Slaves" | awk '{print $0}'
      register: sap_hana_resource_state
      until: "'Masters:' and 'Slaves:' in sap_hana_resource_state.stdout"
      retries: 120
      delay: 10

    - name: Acquiring SAP HANA System Replication master ports
      ansible.builtin.shell: netstat -tulpn | egrep -e "hdb|saps|saph" | awk '{print $4}' | cut -d ":" -f2
      register: sr_master_ports
      run_once: true
      delegate_to: "{{ sap_hana_master_node }}"

    - name: Closing Acquired ports of master on both nodes
      firewalld:
        port: "{{ item }}/tcp"
        permanent: true
        state: disabled
      loop: "{{ sr_master_ports.stdout_lines}}"

    - name: Acquiring SAP HANA System Replication slave ports
      ansible.builtin.shell: netstat -tulpn | egrep -e "hdb|saps|saph" | awk '{print $4}' | cut -d ":" -f2
      register: sr_slave_ports
      run_once: true
      delegate_to: "{{ sap_hana_slave_node }}"

    - name: Closing Acquired ports of slave node on both nodes
      firewalld:
        port: "{{ item }}/tcp"
        permanent: true
        state: disabled
      loop: "{{ sr_slave_ports.stdout_lines}}"

    - name: Closing custom system Replication Ports through firewall
      firewalld:
        port: "4{{ sap_hana_instance_number }}00/tcp"
        permanent: true
        state: disabled
