venv/
ansible_collections/ansible.posix-1.5.4.info/
ansible_collections/ansible/
ansible_collections/community.general-7.3.0.info/
ansible_collections/community/
ansible_collections/sap.sap_operations-1.1.0.info/
ansible_collections/sap/sap_operations/