---
- name: Collection information about SAP instances installed on the current host
  sap.sap_operations.host_info:
  become: true
  become_user: root
  register: host_info

- name: Print test results.
  ansible.builtin.debug:
    msg: "{{ host_info.instances }}"

- name: Run ha_check_config_info
  sap.sap_operations.ha_check_config_info:
    instance_number: "{{ instance_number }}"
  loop: "{{ host_info.instances }}"
  vars:
    instance_number: "{{ item.mSystemNumber }}"
  register: hacheckconfig

- name: Print the results.
  ansible.builtin.debug:
    msg: "{{ hacheckconfig }}"
