---
- name: Run ha_check_config_info
  sap.sap_operations.ha_check_config_info:
    instance_number: "{{ sap_instance_number }}"
  register: hacheckconfig

- name: Print the results.
  ansible.builtin.debug:
    msg: "{{ hacheckconfig }}"
