---
# tasks file for pcs_find_instance_number

- name: Acquiring SAP HANA Instance Number
  ansible.builtin.shell: |
    set -o pipefail
    pcs resource config |
    grep -w InstanceNumber |
    awk '{print $2}' | head -n1 | cut -d '=' -f2
  register: __pcs_find_sap_hana_instance_number
  changed_when: false
  failed_when: __pcs_find_sap_hana_instance_number.rc != 0

- name: Print SAP HANA Instance Number
  ansible.builtin.debug:
    msg: "SAP HANA Instance Number is {{ sap_hana_instance_number.stdout }}"

- name: Setting up SAP HANA Instance Number as fact
  ansible.builtin.set_fact:
    sap_hana_instance_number: "{{ sap_hana_instance_number.stdout }}"
