---
driver:
  name: default
platforms:
  - name: s4hana09-amemon
    ip: 192.168.10.101
  - name: s4hana10-amemon
    ip: 192.168.10.102

scenario:
  converge_sequence:
    - create
    - prepare
    - converge
  test_sequence:
    - destroy
    - create
    - prepare
    - converge
    - destroy
  destroy_sequence:
    - destroy
