---
- name: Finding ASCS node name
  ansible.builtin.include_role:
    name: sap.cluster_qa.pcs_find_ascs

- name: Acquiring latest enq_admin information on ASCS before move
  sap.sap_operations.enq_admin_info:
    profile_filepath: "{{ __pcs_find_ascs_sap_ascs_start_profile.stdout }}"
  become: true
  become_user: "{{ sap_ascs_sid.stdout | lower }}adm"
  become_flags: -i
  when: ansible_hostname == sap_ascs_node_name

- name: Removing 10 new locks via command line before move
  ansible.builtin.shell: |
    set -o pipefail |
    enq_admin --release_locks=10:X:DIAG::TAB:%u pf={{ __pcs_find_ascs_sap_ascs_start_profile.stdout }}
  become: true
  become_user: "{{ sap_ascs_sid.stdout | lower }}adm"
  become_flags: -i
  when: ansible_hostname == sap_ascs_node_name

- name: Creating 10 new locks via command line before move
  ansible.builtin.shell: |
    set -o pipefail |
    enq_admin --set_locks=10:X:DIAG::TAB:%u pf={{ __pcs_find_ascs_sap_ascs_start_profile.stdout }}
  become: true
  become_user: "{{ sap_ascs_sid.stdout | lower }}adm"
  become_flags: -i
  when: ansible_hostname == sap_ascs_node_name

- name: Setting 10 additional new locks using enq_admin_lock before move
  sap.sap_operations.enq_admin_lock:
    profile_filepath: "{{ __pcs_find_ascs_sap_ascs_start_profile.stdout }}"
    lock_type: X
    state: absent
    owner1: DIAG
    owner2: ""
    name: ANSIBLE
    argument: ANSIBLE
  become: true
  become_user: "{{ sap_ascs_sid.stdout | lower }}adm"
  become_flags: -i
  when: ansible_hostname == sap_ascs_node_name

- name: Acquiring latest enq_admin lock information before move
  sap.sap_operations.enq_admin_locks_info:
    profile_filepath: "{{ __pcs_find_ascs_sap_ascs_start_profile.stdout }}"
  become: true
  become_user: "{{ sap_ascs_sid.stdout | lower }}adm"
  become_flags: -i
  register: tec04_ascs_locks_before
  when: ansible_hostname == sap_ascs_node_name

- name: Finding ERS node name
  ansible.builtin.include_role:
    name: sap.cluster_qa.pcs_find_ers

- name: Acquiring latest enq_admin lock information on ERS before move
  sap.sap_operations.enq_admin_locks_info:
    profile_filepath: "{{ __pcs_find_ers_sap_ers_start_profile.stdout }}"
  become: true
  become_user: "{{ sap_ers_sid.stdout | lower }}adm"
  become_flags: -i
  register: tec04_ers_locks_before
  when: ansible_hostname == sap_ers_node_name

- name: Printing output of ASCS locks before
  ansible.builtin.debug:
    msg: "{{ tec04_ascs_locks_before.enq_admin_locks_info }}"

- name: Printing output of ERS locks before
  ansible.builtin.debug:
    msg: "{{ tec04_ers_locks_before.enq_admin_locks_info }}"

- name: Comparing the locks of ASCS and ERS before move
  ansible.builtin.assert:
    that: "tec04_ascs_locks_before.enq_admin_locks_info == tec04_ers_locks_before.enq_admin_locks_info"

- name: Trigerring the failover of ASCS instance
  ansible.builtin.command: "pcs resource move {{ sap_ascs_resource_name }}"
  run_once: true

- name: Finding ASCS node name
  ansible.builtin.include_role:
    name: sap.cluster_qa.pcs_find_ascs

- name: Acquiring latest enq_admin lock information before move
  sap.sap_operations.enq_admin_locks_info:
    profile_filepath: "{{ __pcs_find_ascs_sap_ascs_start_profile.stdout }}"
  become: true
  become_user: "{{ sap_ascs_sid.stdout | lower }}adm"
  become_flags: -i
  register: tec04_ascs_locks_after
  when: ansible_hostname == sap_ascs_node_name

- name: Comparing the locks before and after
  ansible.builtin.assert:
    that: "tec04_ascs_locks_before.enq_admin_locks_info == tec04_ascs_locks_after.enq_admin_locks_info"

- name: Finding ERS node name
  ansible.builtin.include_role:
    name: sap.cluster_qa.pcs_find_ers

- name: Acquiring latest enq_admin lock information on ERS before move
  sap.sap_operations.enq_admin_locks_info:
    profile_filepath: "{{ __pcs_find_ers_sap_ers_start_profile.stdout }}"
  become: true
  become_user: "{{ sap_ers_sid.stdout | lower }}adm"
  become_flags: -i
  register: tec04_ers_locks_after
  when: ansible_hostname == sap_ers_node_name

- name: Comparing the locks before and after
  ansible.builtin.assert:
    that: "tec04_ascs_locks_after.enq_admin_locks_info == tec04_ers_locks_after.enq_admin_locks_info"