---
- name: Clean-up of cluster
  ansible.builtin.shell: |-
    set -o pipefail |
    pcs resource cleanup
  run_once: true

- name: Collect necessary gather_facts
  ansible.builtin.setup:
    gather_subset:
      - min

- name: Finding ASCS node name
  ansible.builtin.include_role:
    name: sap.cluster_qa.pcs_find_ascs

- name: Setting ASCS node name before failure as facts
  ansible.builtin.set_fact:
    sap_ascs_node_name_before: "{{ sap_ascs_node_name }}"

- name: Crashing the ASCS node to simulate hardware failure
  ansible.builtin.shell: "echo c > /proc/sysrq-trigger&"
  async: 3600
  poll: 0
  when: ansible_hostname == sap_ascs_node_name
  failed_when: false
  changed_when: true

- name: Wait for ASCS node to show as OFFLINE in cluster status of other nodes
  sap.sap_operations.pcs_status_info:
  register: node_offline_status
  until: (node_offline_status | sap.sap_operations.pcs_nodes_from_status(online=false) | length) == 1
  delay: 1
  retries: 60
  run_once: true
  delegate_to: "{{ groups['all'] | difference([sap_ascs_node_name_before]) | first }}"
  changed_when: false
  failed_when: false

- name: Wait for ASCS resource to show as UNCLEAN in cluster status of other nodes
  sap.sap_operations.pcs_status_info:
  register: resource_unclean_status
  # until: resource_unclean_status | sap.sap_operations.pcs_resources_from_status(online=false) | length = 1
  # register: resource_unclean_status
  # until: resource_unclean_status.rc == 0
  delay: 1
  retries: 20
  run_once: true
  delegate_to: "{{ groups['all'] | difference([sap_ascs_node_name_before]) | first }}"
  changed_when: false
  failed_when: false

- name: Waiting a few seconds to stabilize after UNCLEAN
  ansible.builtin.pause:
    seconds: 20

- name: Watching pcs status info for resource started
  sap.sap_operations.pcs_status_info:
  register: pcs_status_ascs_new_start
  until: pcs_status_ascs_new_start | 
    sap.sap_operations.pcs_resources_from_status(id=sap_ascs_resource_name, role='Started') | length = 1
  delay: 5
  retries: 30
  run_once: true
  delegate_to: "{{ groups['all'] | difference([sap_ascs_node_name_before]) | first }}"

- name: Debug resource started tasks
  ansible.builtin.debug:
    msg: >-
         {{ pcs_status_ascs_new_start.pacemaker_status['pacemaker-result'].resources | selectattr('group', 'defined')
         | selectattr('group.resource.id', 'equalto', sap_ascs_resource_name) | selectattr('group.resource.role', 'equalto', 'Started') }}
  run_once: true
  delegate_to: "{{ groups['all'] | difference([sap_ascs_node_name_before]) | first }}"

- name: Finding ASCS node name after move
  ansible.builtin.include_role:
    name: sap.cluster_qa.pcs_find_ascs
  when: ansible_hostname != sap_ascs_node_name_before

- name: Setting ASCS node name after failure as facts on executing node
  ansible.builtin.set_fact:
    sap_ascs_node_name_after: "{{ sap_ascs_node_name }}"
  when: ansible_hostname != sap_ascs_node_name_before

- name: Verifying ASCS not on the same node
  ansible.builtin.assert:
    that: sap_ascs_node_name_before != sap_ascs_node_name_after
    fail_msg: "ASCS did not move to a different node after hardware failure simulation"
    success_msg: "ASCS successfully moved from {{ sap_ascs_node_name_before }} to {{ sap_ascs_node_name_after }}"
  run_once: true
  delegate_to: "{{ groups['all'] | difference([sap_ascs_node_name_before]) | first }}"
  vars:
    sap_ascs_node_name_after: "{{ hostvars[groups['all'] | difference([sap_ascs_node_name_before]) | first]['sap_ascs_node_name'] }}"
