---
# SPDX-License-Identifier: GPL-3.0-only
# SPDX-FileCopyrightText: 2025 Kirill Satarin (@kksat)
#
# Copyright 2025 Kirill Satarin (@kksat)
#
# This program is free software: you can redistribute it and/or modify it under the terms of the GNU
# General Public License as published by the Free Software Foundation, version 3 of the License.
#
# This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without
# even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU General Public License for more details.
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# You should have received a copy of the GNU General Public License along with this program.
# If not, see <https://www.gnu.org/licenses/>.

argument_specs:
  main:
    short_description: Download SAP inst certificate revocation list (CRL)
    description:
      - Role will download SAP inst certificate revocation list (CRL)
      - Hardcoded url that is used to download CRL is https://tcs.mysap.com/crl/crlbag.p7s
      - By default CRL will be placed in root use home directory ~/.sapinst/crlbag.p7s
      - See documentation in SAP Note 3207613 - SAPinst Framework 7.53 Central Note
    options:
      sapinst_crl_become:
        description: Become directive for user, see sapinst_crl_become_user
        type: bool
        required: false
        default: true
      sapinst_crl_become_user:
        description: User in which home directory CRL will be placed
        type: str
        required: false
        default: root

  __limitations__:
    options: {}
    short_description: Limitations
    description:
      - Ansible user should be able to become user sapinst_crl_become_user (root by default)

  __dependencies__:
    options: {}
    short_description: Dependencies
    description:
      - Role has no dependencies to other roles.

  __examples__:
    options: {}
    short_description: Example Playbooks
    description:
      - "- name: Download SAP inst CRL"
      - "  hosts: all"
      - "  gather_facts: false"
      - "  tasks:"
      - "    - name: Download SAP inst CRL"
      - "      ansible.builtin.include_role:"
      - "        name: sap.sap_operations.sapinst_crl"

  __license__:
    options: {}
    short_description: License
    description:
      - GPL-3.0-only

  __author__:
    options: {}
    short_description: Author Information
    description:
      - Kirill Satarin (@kksat)
