---
# tasks file for tec01
- name: Collection information about SAP instances installed on the current host
  sap.sap_operations.ha_get_failoverconfig_info:
  become: true
  become_user: root
  register: failoverconfig_info

- name: Print test results.
  ansible.builtin.debug:
    msg: "{{ failoverconfig_info }}"
