---
# tasks file for tec01
- name: Collection information about SAP instances installed on the current host
  sap.sap_operations.ha_get_failoverconfig_info:
    instance_number: "{{ sap_instance_number }}"
  become: true
  become_user: root
  register: failoverconfig_info

- name: Print test results completing TEC01 test case for current Host.
  ansible.builtin.debug:
    msg: "{{ failoverconfig_info }}"
