---
# tasks file for tec01
- name: Collection information about SAP instances installed on the current host
  sap.sap_operations.host_info:
  become: true
  become_user: root
  register: host_info

- name: Print test results.
  ansible.builtin.debug:
    msg: "{{ host_info.instances }}"
