---
# tasks file for find_hana

- name: Acquiring SAP HANA SID
  ansible.builtin.shell: |
    set -o pipefail
    pcs resource config |
    grep -w SID |
    head -n1 |
    awk '{print $3}' |
    cut -d '=' -f2
  register: __pcs_find_hana_sap_hana_sid
  changed_when: false
  failed_when: __pcs_find_hana_sap_hana_sid.rc != 0

- name: Print SAP HANA SID
  ansible.builtin.debug:
    msg: "SAP HANA SID is {{ sap_hana_sid }}"

- name: Set fact for sap_hana_sid variable (SAP HANA SID)
  ansible.builtin.set_fact:
    sap_hana_sid: "{{ sap_hana_sid }}"
