---
- name: Clean-up of cluster
  ansible.builtin.shell: |-
    set -o pipefail |
    pcs resource cleanup

- name: Collect necessary gather_facts
  ansible.builtin.setup:
    gather_subset:
      - min

- name: Finding ASCS node name
  ansible.builtin.include_role:
    name: sap.cluster_qa.pcs_find_ascs

- name: Setting ASCS node name before failure as facts
  ansible.builtin.set_fact:
    test05_sap_ascs_node_name_before: "{{ sap_ascs_node_name }}"
    sap_ascs_node_name_before: "{{ sap_ascs_node_name }}"  # noqa: var-naming[no-role-prefix]

- name: Running Host info for enq.sap pid
  sap.sap_operations.host_info:
  register: test05_ascs_host_info
  when: ansible_hostname == sap_ascs_node_name

- name: Killing the enq.sap process
  ansible.builtin.command: "kill -9 {{ enq_sap_process_id }}"
  changed_when: true
  vars:
    enq_sap_process_id: "{{ (enq_sap_process_list | selectattr('name', 'equalto', 'enq_server') | first)['pid'] }}"
    enq_sap_process_list: "{{ (test05_ascs_host_info.instances | selectattr('mSystemNumber', 'equalto', sap_ascs_instance_number) | first)['ProcessList'] }}"
  when: ansible_hostname == sap_ascs_node_name

- name: Watching pcs status info for failures
  sap.sap_operations.pcs_status_info:
  register: test05_pcs_status_post_enq_kill
  until: "(test05_pcs_status_post_enq_kill.pacemaker_status['pacemaker-result'].failures | default([]) | length > 0)"
  delay: 5
  retries: 30
  run_once: true

- name: Watching pcs status info for resource started
  sap.sap_operations.pcs_status_info:
  register: test05_pcs_status_ascs_new_start
  until: >-
         (test05_pcs_status_ascs_new_start.pacemaker_status['pacemaker-result'].resources | selectattr('group', 'defined')
         | selectattr('group.resource.id', 'equalto', sap_ascs_resource_name) | selectattr('group.resource.role', 'equalto', 'Started'))
  delay: 5
  retries: 30
  run_once: true

- name: Debug resource started tasks
  ansible.builtin.debug:
    msg: >-
         {{ test05_pcs_status_ascs_new_start.pacemaker_status['pacemaker-result'].resources | selectattr('group', 'defined')
         | selectattr('group.resource.id', 'equalto', sap_ascs_resource_name) | selectattr('group.resource.role', 'equalto', 'Started') }}

- name: Finding ASCS node name after move
  ansible.builtin.include_role:
    name: sap.cluster_qa.pcs_find_ascs

- name: Setting ASCS node name after failure as facts
  ansible.builtin.set_fact:
    test05_sap_ascs_node_name_after: "{{ sap_ascs_node_name }}"
    sap_ascs_node_name_after: "{{ sap_ascs_node_name }}"  # noqa: var-naming[no-role-prefix]

- name: Verifying ASCS not on the same node
  ansible.builtin.assert:
    that: test05_sap_ascs_node_name_before != test05_sap_ascs_node_name_after
