name: Build collection

"on":
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request_target:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build-sap-cluster_qa:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Run collection build command
        run: make build
