---
- name: Acquiring ASCS resource name
  ansible.builtin.shell: |
    set -o pipefail
    pcs resource config |
    grep SAPInstance |
    grep ascs |
    awk '{print $2}' |
    xargs
  register: __pcs_find_ascs_sap_ascs_resource_name
  changed_when: false
  failed_when: __pcs_find_ascs_sap_ascs_resource_name.rc != 0

- name: Setting ASCS resource name as fact
  ansible.builtin.set_fact:
    sap_ascs_resource_name: "{{ __pcs_find_ascs_sap_ascs_resource_name.stdout }}"

- name: Acquiring ASCS node name
  ansible.builtin.shell: "pcs resource status {{ sap_ascs_resource_name }} | grep SAPInstance | awk '{print $5}'"
  register: __pcs_find_ascs_sap_ascs_node_name
  changed_when: false
  failed_when: __pcs_find_ascs_sap_ascs_node_name.rc != 0

- name: Setting ASCS Node name as fact
  ansible.builtin.set_fact:
    sap_ascs_node_name: "{{ __pcs_find_ascs_sap_ascs_node_name.stdout }}"

- name: Acquiring ASCS start profile
  ansible.builtin.shell: |
    set -o pipefail |
    pcs resource config "{{ sap_ascs_resource_name }}" |
    grep START_PROFILE |
    cut -d '=' -f2 |
    xargs
  register: __pcs_find_ascs_sap_ascs_start_profile
  changed_when: false
  failed_when: __pcs_find_ascs_sap_ascs_start_profile.rc != 0

- name: Acquiring ASCS SID
  ansible.builtin.shell: |
    set -o pipefail |
    cat "{{ __pcs_find_ascs_sap_ascs_start_profile.stdout }}" |
    grep -w 'SAPSYSTEMNAME ' |
    awk '{print $3}' |
    xargs
  register: sap_ascs_sid
  changed_when: false
  failed_when: sap_ascs_sid.rc != 0

- name: Acquiring ASCS Instance number
  ansible.builtin.shell: |
    set -o pipefail |
    cat "{{ __pcs_find_ascs_sap_ascs_start_profile.stdout }}" |
    grep -w SAPSYSTEM |
    awk '{print $3}' |
    xargs
  register: __pcs_find_ascs_sap_instance_number
  changed_when: false
  failed_when: __pcs_find_ascs_sap_instance_number.rc != 0

- name: Setting ASCS Instance number as fact
  ansible.builtin.set_fact:
    sap_instance_number: "{{ __pcs_find_ascs_sap_instance_number.stdout }}"
