---
- name: Acquiring ASCS resource name
  ansible.builtin.shell: |-
    set -o pipefail |
    pcs resource config |
    grep SAPInstance |
    grep -i ascs |
    awk '{print $2}' |
    xargs
  register: __pcs_find_ascs_sap_ascs_resource_name
  changed_when: false
  failed_when: __pcs_find_ascs_sap_ascs_resource_name.rc != 0

- name: Setting ASCS resource name as fact
  ansible.builtin.set_fact:
    pcs_find_ascs_sap_ascs_resource_name: "{{ __pcs_find_ascs_sap_ascs_resource_name.stdout }}"
    sap_ascs_resource_name: "{{ __pcs_find_ascs_sap_ascs_resource_name.stdout }}"  # noqa: var-naming[no-role-prefix]

- name: Acquiring ASCS node name
  ansible.builtin.shell: |-
    set -o pipefail |
    pcs resource status {{ pcs_find_ascs_sap_ascs_resource_name }} |
    grep SAPInstance |
    awk '{print $5}'
  register: __pcs_find_ascs_sap_ascs_node_name
  changed_when: false
  failed_when: __pcs_find_ascs_sap_ascs_node_name.rc != 0

- name: Setting ASCS Node name as fact
  ansible.builtin.set_fact:
    pcs_find_ascs_sap_ascs_node_name: "{{ __pcs_find_ascs_sap_ascs_node_name.stdout }}"
    sap_ascs_node_name: "{{ __pcs_find_ascs_sap_ascs_node_name.stdout }}"  # noqa: var-naming[no-role-prefix]

- name: Acquiring ASCS start profile
  ansible.builtin.shell: |-
    set -o pipefail |
    pcs resource config "{{ pcs_find_ascs_sap_ascs_resource_name }}" |
    grep START_PROFILE |
    cut -d '=' -f2 |
    xargs
  register: __pcs_find_ascs_sap_ascs_start_profile
  changed_when: false
  failed_when: __pcs_find_ascs_sap_ascs_start_profile.rc != 0

- name: Acquiring ASCS SID
  ansible.builtin.shell: |-
    set -o pipefail |
    cat "{{ __pcs_find_ascs_sap_ascs_start_profile.stdout }}" |
    grep -w 'SAPSYSTEMNAME ' |
    awk '{print $3}' |
    xargs
  register: __pcs_find_ascs_sap_ascs_sid
  changed_when: false
  failed_when: __pcs_find_ascs_sap_ascs_sid.rc != 0

- name: Setting ASCS SID as a separate fact
  ansible.builtin.set_fact:
    pcs_find_ascs_sap_ascs_sid: "{{ __pcs_find_ascs_sap_ascs_sid.stdout }}"
    sap_ascs_sid: "{{ __pcs_find_ascs_sap_ascs_sid.stdout }}"  # noqa: var-naming[no-role-prefix]

- name: Setting ASCS SID as a general fact
  ansible.builtin.set_fact:
    pcs_find_ascs_sap_sid: "{{ __pcs_find_ascs_sap_ascs_sid.stdout }}"
    sap_sid: "{{ __pcs_find_ascs_sap_ascs_sid.stdout }}"  # noqa: var-naming[no-role-prefix]

- name: Acquiring ASCS Instance Name
  ansible.builtin.shell: |-
    set -o pipefail |
    cat "{{ __pcs_find_ascs_sap_ascs_start_profile.stdout }}" |
    grep -w 'INSTANCE_NAME =' |
    awk '{print $3}' |
    xargs
  register: __pcs_find_ascs_sap_instance_name
  changed_when: false
  failed_when: __pcs_find_ascs_sap_instance_name.rc != 0

- name: Setting ASCS Instance Name as a separate fact
  ansible.builtin.set_fact:
    pcs_find_ascs_sap_ascs_instance_name: "{{ __pcs_find_ascs_sap_instance_name.stdout }}"
    sap_ascs_instance_name: "{{ __pcs_find_ascs_sap_instance_name.stdout }}"  # noqa: var-naming[no-role-prefix]

- name: Setting ASCS Instance Name as a general fact
  ansible.builtin.set_fact:
    pcs_find_ascs_sap_instance_name: "{{ __pcs_find_ascs_sap_instance_name.stdout }}"
    sap_instance_name: "{{ __pcs_find_ascs_sap_instance_name.stdout }}"  # noqa: var-naming[no-role-prefix]

- name: Acquiring ASCS Instance number
  ansible.builtin.shell: |-
    set -o pipefail |
    cat "{{ __pcs_find_ascs_sap_ascs_start_profile.stdout }}" |
    grep -w SAPSYSTEM |
    awk '{print $3}' |
    xargs
  register: __pcs_find_ascs_sap_instance_number
  changed_when: false
  failed_when: __pcs_find_ascs_sap_instance_number.rc != 0

- name: Setting ASCS Instance number as fact
  ansible.builtin.set_fact:
    pcs_find_ascs_sap_ascs_instance_number: "{{ __pcs_find_ascs_sap_instance_number.stdout }}"
    sap_ascs_instance_number: "{{ __pcs_find_ascs_sap_instance_number.stdout }}"  # noqa: var-naming[no-role-prefix]

- name: Setting ASCS Instance number as fact
  ansible.builtin.set_fact:
    pcs_find_ascs_sap_instance_number: "{{ __pcs_find_ascs_sap_instance_number.stdout }}"
    sap_instance_number: "{{ __pcs_find_ascs_sap_instance_number.stdout }}"  # noqa: var-naming[no-role-prefix]
