---
# tasks file for pcs_find_ers
- name : Acquiring ERS resource name
  ansible.builtin.shell: |
    set -o pipefail
    pcs resource config |
    grep SAPInstance |
    grep ers |
    awk '{print $2}' |
    xargs
  register: __pcs_find_ers_sap_ers_resource_name
  changed_when: false
  failed_when: __pcs_find_ers_sap_ers_resource_name.rc != 0

- name: Setting ERS resource name as fact
  ansible.builtin.set_fact:
      sap_ers_resource_name: "{{ __pcs_find_ers_sap_ers_resource_name.stdout }}"

- name: Acquiring ERS node name
  ansible.builtin.shell: pcs resource status {{ sap_ers_resource_name }} | grep SAPInstance | awk '{print $5}'
  register: __pcs_find_ers_sap_ers_node_name
  changed_when: false
  failed_when: __pcs_find_ers_sap_ers_node_name.rc != 0

- name: Setting ERS Node name as fact
  ansible.builtin.set_fact:
      sap_ers_node_name: "{{ __pcs_find_ers_sap_ers_node_name.stdout }}"
